/* Changes to default parameters of objects */

:root {
    /* Custom color variables for use in icons */
    --facebook-blue: #1877F2;
    --youtube-red: #FF0000;
    --vimeo-blue: #1AB7EA;
  }

/* Cause body to fill up viewport as a minimum if there isn't a lot of content on the page */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Commonly used page title */
.custom-page-header {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    font-weight: lighter;
}

.custom-section-header-bold {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bolder;
    font-style: italic;
}

.custom-body-padding {
    padding-left: 20px;
    padding-right: 20px;
}

.custom-form-margin {
    margin-top: 30px;
    margin-bottom: 10px;
}

/* Flex allows for the viewport filling to work */
.custom-container {
    flex: 1;
    margin: 0;
}

.custom-form-container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 30rem;
}

/* Allows for darken transition when cursor is hovering over icon */
.custom-icon-darken {
    transition: filter 0.1s;
}
.custom-icon-darken:hover {
    filter: brightness(0.8);
}

.btn {
    /* Increase visibility of buttons */
    font-size: 20px;
}

.back-to-top-button {
    font-size: 2rem;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: filter 0.1s;
  }

.back-to-top-button:hover {
    filter: brightness(0.8);
}

.navbar-brand {
    font-size: 25px;
}

.nav-link {
    /* Override the nav-link buttons being greyer than dropdown buttons*/
    color: black;
    /* Increase visibility of buttons */
    font-size: 20px;
    /* Round off corners of background rectangle */
    border-radius: 8px;
    /* Allow for smooth color transition */
    transition: background-color 0.3s, color 0.3s;
}
.navbar-button-hover:hover {
    background-color: lightgray;
}